# macOS
.DS_Store

# Node
node_modules/
package-lock.json

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcshareddata/

# Electron
dist/
out/

# IDE
.vscode/
.idea/

# Logs
*.log
